.Form {
  & > div:nth-child(1) {
    display: grid;
    justify-items: center;
    padding: 0px 40px;
    & > div:nth-child(1) {
      display: flex;
      max-width: 1030px;
      width: 100%;
      gap: 30px;
      justify-content: space-between;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      @media (max-width: 480px) {
        margin-left: 30px;
        margin-right: 30px;
      }
      & > div:nth-child(1) {
        width: 100%;
        max-width: 480px;

        @media (max-width: 800px) {
          max-width: none;
        }
        div + div {
          margin-top: 26px;
        }
        & > label {
          border-radius: 20px;
          border: 2px solid #000000;
          box-shadow: 4px 4px 0px 0px #000000;
          display: flex;
          justify-content: center;
          width: 100%;
          max-width: 300px;
          margin-top: 18px;
          align-items: center;
          cursor: pointer;
          padding: 14px 0px;
          transition: transform 0.3s ease-in-out;

          & > span {
            font-size: 28px;
            color: #000000;
            transition: transform 0.2s;

            @media (max-width: 680px) {
              font-size: 24px;
            }
            @media (max-width: 480px) {
              font-size: 20px;
            }
          }
        }
        & > label:hover {
          transform: translate(-0.3rem, -0.3rem);
        }
        & > label:active {
          transform: translate(0, 0);
          box-shadow: 0px 0px 0px 0px #000;
          animation-duration: 2.8s;
        }
      }
      & > div:nth-child(2) {
        border: 2px solid #000000;
        border-radius: 10px;
        box-shadow: 8px 8px 0px 0px #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 414px;
        padding: 20px;

        @media (max-width: 800px) {
          width: auto;
          max-width: none;
        }
        & > div:nth-child(1) {
          width: 100%;
          border-radius: 10px;
          border: 2px solid #000;
          display: flex;
          max-width: 414px;

          @media (max-width: 800px) {
            max-width: none;
          }
          & > img {
            border-radius: 10px;
            object-fit: fill;
            width: 100%;
            max-width: 414px;

            @media (max-width: 800px) {
              max-width: none;
            }
          }
        }
      }
    }
  }
  & > div:nth-child(2) {
    display: flex;
    padding-right: 48px;
    margin-top: 28px;

    @media (max-width: 1200px) {
      padding-right: 18px;
    }
  }
  & > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;
    & > button {
      border-radius: 20px;
      border: 2px solid #000000;
      padding: 20px 6px;
      width: 100%;
      max-width: 346px;
      box-shadow: 8px 8px 0px 0px #000000;
      background: #dd7ddf;
      transition: transform 0.3s ease-in-out;

      @media (max-width: 480px) {
        padding: 14px 6px;
        max-width: 260px;
      }
      & > span {
        color: #000000;
        font-size: 28px;
        display: block;
        transition: transform 0.2s;

        @media (max-width: 480px) {
          font-size: 22px;
        }
      }
    }
    & > button:hover {
      transform: translate(-0.4rem, -0.4rem);
    }
    & > button:active {
      transform: translate(0, 0);
      box-shadow: 0px 0px 0px 0px #000000;
      animation-duration: 2.8s;
    }
    & > button:hover span {
      transform: translate(-0.2rem, -0.2rem);
      animation-duration: 0.8s;
    }
  }
}
