.button {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 20px 20px;
  & > button {
    font-family: '__monaSans_fe06ff';
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px 6px;
    width: 100%;
    max-width: 346px;
    box-shadow: 8px 8px 0px 0px #000000;
    background: #dd7ddf;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 480px) {
      padding: 14px 6px;
      max-width: 260px;
    }
    & > span {
      color: #000000;
      font-size: 28px;
      display: block;
      transition: transform 0.2s;
      font-family: '__monaSans_fe06ff';
      font-weight: 700;

      @media (max-width: 480px) {
        font-size: 22px;
      }
    }
  }
  & > button:hover {
    transform: translate(-0.4rem, -0.4rem);
  }
  & > button:active {
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px 0px #000000;
    animation-duration: 2.8s;
  }
  & > button:hover span {
    transform: translate(-0.2rem, -0.2rem);
    animation-duration: 0.8s;
  }
}
