.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  grid-area: pagination;

  li + li {
    padding-left: 20px;
  }
  & > li {
    & > button {
      display: flex;
      border-radius: 15px;
      border: 2px solid #000;
      background-color: #f4f4f4;
      height: 52px;
      width: 52px;
      align-items: center;
      justify-content: center;

      // &:hover {
      //   background-color: red;
      // }

      &.active {
        color: #000;
        background-color: #dd7ddf;
      }
      & > strong {
        font-size: 18px;
        font-family: '__monaSans_fe06ff';
        font-weight: 700;
      }
    }
  }
  & > button:nth-child(2) {
    display: flex;
  }
}

// .active {
//   color: #000;
//   background-color: red;
// }
