:root {
  //background-color
  --background-color2: #d4d4d4;
  --background-color1: #ffffff;
  --background-color0: rgba(255, 245, 3, 0.4);

  //button-color
  --button-color1: rgba(221, 125, 223, 0.78);
  --button-color0: #dd7ddf;

  //border-color
  --border2: 8px solid #000;
  --border1: 1px solid #000;
  --border0: 2px solid #000;

  //box-shadow
  --box-shadow1: 4px 6px 0px 0px #000;
  --box-shadow0: 6px 6px 0px 0px #000;

  //color
  --color0: #000;
}

body {
  margin: 0px;
  width: 100%;
  overflow-x: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  background: var(--background-color0);
  width: 100%;
  border: 2px solid #000000;

  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 32px;
    max-width: 1320px;

    & > div:nth-child(1) {
      width: 100%;
      max-width: 468px;
      max-height: 186px;
      display: flex;
      align-items: center;
      padding-top: 70px;
      padding-bottom: 70px;
      border: solid #000000;
      border-width: 0px 2px 0px 0px;

      @media (max-width: 1200px) {
        max-width: 336px;
      }
      @media (max-width: 680px) {
        max-width: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @media (max-width: 480px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      & > img:nth-child(1) {
        display: flex;
        @media (max-width: 680px) {
          display: none;
        }
      }
      & > img:nth-child(2) {
        display: none;
        @media (max-width: 680px) {
          display: flex;
        }
      }
    }
  }
}
main {
  display: grid;
  background-image: url('../../public/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & > div:nth-child(1) {
    display: grid;
    width: 100%;
    max-width: 1323px;
    margin: 0 auto;
    gap: 28px;
    grid-template-columns: 44px 1fr;
    // grid-template-columns: 415px 1fr;
    grid-template-areas:
      'menu containerFilters'
      'containerProduct containerProduct'
      'pagination pagination';
    margin-top: 100px;

    & > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1248px;
      grid-area: containerFilters;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
