body {
  margin: 0px;
  width: 100%;
  overflow-x: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  background: rgba(255, 245, 3, 0.4);
  width: 100%;
  border: 2px solid #000000;

  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 32px;
    max-width: 1320px;
    & > div:nth-child(1) {
      width: 100%;
      max-width: 468px;
      max-height: 186px;
      display: flex;
      align-items: center;
      border: solid #000000;
      border-width: 0px 2px 0px 0px;

      h1 {
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  button:nth-child(2) {
    background: #dd7ddf;
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px 0px #000000;
    width: 100%;
    max-width: 180px;
    border-radius: 4px;

    a {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      padding: 16px 0px;

      span {
        font-size: 18px;
        color: #000000;
      }
    }
  }
  button:nth-child(3) {
    background: #dd7ddf;
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px 0px #000000;
    width: 100%;
    max-width: 180px;
    border-radius: 4px;
    display: none;

    a {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      padding: 16px 0px;

      span {
        font-size: 18px;
        color: #000000;
      }
    }
  }
}
main {
  display: grid;
  background-image: url('../../public/images/background.jpg');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
