.mainContent {
  background-image: url('../../../public/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & > .content {
    display: grid;
    max-width: 1323px;
    margin: 0 auto;
    padding: 0rem 2rem;
    position: relative;
    gap: 28px;
    grid-template-columns: 44px 1fr;
    grid-template-areas:
      'menu containerFilters'
      'containerProduct containerProduct'
      'pagination pagination';
    padding-top: 100px;

    & > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1248px;
      grid-area: containerFilters;
    }
  }
  & > .menuOpen {
    display: grid;
    max-width: 1323px;
    margin: 0 auto;
    padding: 0rem 2rem;
    position: relative;
    grid-gap: 28px;
    gap: 28px;
    grid-template-columns: 415px 1fr;
    grid-template-areas:
      'menu containerFilters'
      'menu containerProduct'
      'pagination pagination';
    padding-top: 100px;

    @media (max-width: 1100px) {
      grid-template-columns: 44px 1fr;
    }
  }
}
